---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import RecipeCard from "../../components/RecipeCard.astro";

export async function getStaticPaths() {
    const allRecipes = await getCollection("recipes");
    const ingredientes = [
        ...new Set(allRecipes.map((recipe) => recipe.data.ingredients).flat()),
    ];

    return ingredientes.map((ingredient) => {
        const filteredRecipes = allRecipes.filter((recipe) =>
            recipe.data.ingredients.includes(ingredient),
        );
        return {
            params: { ingredient: ingredient.toLowerCase() },
            props: { recipes: filteredRecipes },
        };
    });
}

const [{ ingredient }, { recipes }] = [Astro.params, Astro.props];
---

<BaseLayout pageTitle={ingredient}>
    <div class="grid grid-cols-3 max-w-5xl mx-auto gap-6 mb-20">
        {recipes.map((recipe) => <RecipeCard recipe={recipe} />)}
    </div>
</BaseLayout>
