---
import IngredientCard from "../../components/IngredientCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allRecipes = await getCollection("recipes");
const uniqueIngredients = [
    ...new Set(allRecipes.map((recipe) => recipe.data.ingredients).flat()),
];
---

<BaseLayout pageTitle="Ingredientes">
    <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-3 auto-rows-[80px]">
        {
            uniqueIngredients.map((ingredient) => (
                <IngredientCard ingredient={ingredient} />
            ))
        }
    </div>
</BaseLayout>
