---
const { ingredient } = Astro.props;
---

<a href={`/ingredients/${ingredient.toLowerCase()}`}>
    <span class="rounded-full bg-gray-200 border-pink-500 px-2 text-gray-900">
        {ingredient}
    </span>
</a>
