---

---

<nav class="w-full bg-slate-200 flex justify-between">
    <a href="/">
        <img src="/" alt="Logo" />
    </a>

    <ul class="flex gap-3">
        <li><a href="/recipes">Discover recipes</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/ingredients">Ingredientes</a></li>
    </ul>
</nav>
