---

---

<header class="w-full sticky top-0 py-5 z-10 bg-amber-50 border-b-2 border-solid border-gray-900">
    <nav class=" w-[min(84rem,90%)] mx-auto flex justify-between">
        <a href="/">
            <img src="/" alt="Home" />
        </a>
    
        <ul class="flex gap-6">
            <li><a href="/recipes">Discover recipes</a></li>
            <li><a href="/about-us">About us</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/ingredients">Ingredientes</a></li>
        </ul>
    </nav>
</header>
