---
import IngredientChip from "./IngredientChip.astro";

const { ingredients, category, title, url } = Astro.props;
---

<article>
    <a href={url}>
        <img src="/" alt="" height={200} width={100} class="bg-red-100" />
        <h4>{category}</h4>
        <h3 class="text-2xl">{title}</h3>
        <div class="flex flex-wrap gap-x-2 gap-y-1">
            {
                ingredients.map((ingredient) => (
                    <IngredientChip ingredient={ingredient} />
                ))
            }
        </div>
    </a>
</article>
