---
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout pageTitle={title}>
    <div
        class="prose prose-headings:text-2xl marker:prose-ul:content-['🦧'] mx-auto"
    >
        <slot />
    </div>
</BaseLayout>
